<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.10" targetFramework="net472" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="OpenTK" version="3.2" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="QuickFont.Desktop" version="4.5.7053.25687" targetFramework="net472" />
  <package id="SharpFont" version="4.0.1" targetFramework="net472" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net472" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net472" />
</packages>